/* btns */
.btns-group .group {
    display: flex;
    margin-bottom: 10px;
}

.btns-group .group .button {
    flex: 1;
}

.btns-group .button:first-child {
    margin-right: 10px;
}

/* lists */
.schd-lists {
    position: relative;
}

.schd-lists .schd-item {
    padding: 20px 6px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}

.schd-item .days {
    display: flex;
    margin-bottom: 20px;
}

.schd-item .title {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    max-width: 90%;
}

.schd-item .time {
    color: #999;
    font-size: 12px;
}

.schd-item .summary {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
}

.schd-item .mod-item-btn {
    color: #ccc;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.schd-item .mod-item-btn:hover i {
    color: #333;
}

.schd-item.modify {
    padding-left: 60px;
}

.schd-item.modify .round-cb {
    display: block;
}

.btns-group .after-group {
    display: none;
}

/* round-cb */
.round-cb {
    display: none;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.round-cb input {
    display: none;
}

.round-cb input:checked + label {
    color: hsl(204, 86%, 53%);
}

.round-cb label {
    cursor: pointer;
    font-size: 24px;
}

/* icon-day */
.icon-day {
    font-size: 11px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 23px;
    border-radius: 50%;
    border: 1px solid #eaeaea;
    margin-right: 5px;
}

.icon-day:last-child {
    margin-right: 0;
}

.icon-day.every-week {
    width: 30px;
    border-radius: 6px;
    color: #fff;
    border-color: #e12147;
}

.lists-view .remove-btn {
    display: none;
    margin-top: 20px;
    width: 100%;
}

/* empty-schd */
.empty-schd .empty-img {
    min-height: 250px;
    background-image: url('/static/images/no_schd.png');
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center;
}

.empty-schd .write-btn {
    color: #999;
    display: block;
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    word-break: break-word;
    white-space: break-spaces;
    height: auto;
    padding: 10px;
    line-height: 1.83;
}