* {
    font-family: "Do Hyeon", sans-serif;
}


.content {
    margin: 30px auto 50px auto;
}


.input-option {
    margin-bottom: 50px;
}

input-content {
    width: 500px;
    height: 300px;
}

.check-box {
    width: 450px;
    margin: 0 auto;
    display: block;
}

.time {
    text-align: center;
}

.btn {
    display: flex;
    margin-top: 40px;
    margin-bottom: 100px;
}



.button1{
    margin-right: 10px;
    flex: 1;
}

.button2{
    margin-left: 10px;
    flex: 1;
}

.select {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80px;
    height: 50px;
}

.check {
    display: inline-block;
}

.weekday {
    font-size: 11px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 23px;
    border-radius: 50%;
    border: 1px solid #eaeaea;
    margin-right: 5px;
}

.wrap {
    max-width: 960px;
    padding: 40px;
    align-items: center;
    text-align: center;
}


