<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>good4y</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <h1 class="logo">
                <a href="/">
                    <img src="../static/images/logo.png" alt="good4y">
                </a>
            </h1>
        </header>
        {% block content %} {% endblock %}
    </div>
</body>
</html>