<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>good4y</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <script>

        {% if msg %}
            alert("{{ msg }}")
        {% endif %}
        // ['쿠키'라는 개념에 대해 알아봅시다]
        // 로그인을 구현하면, 반드시 쿠키라는 개념을 사용합니다.
        // 페이지에 관계없이 브라우저에 임시로 저장되는 정보입니다. 키:밸류 형태(딕셔너리 형태)로 저장됩니다.
        // 쿠키가 있기 때문에, 한번 로그인하면 네이버에서 다시 로그인할 필요가 없는 것입니다.
        // 브라우저를 닫으면 자동 삭제되게 하거나, 일정 시간이 지나면 삭제되게 할 수 있습니다.

        function login() {
            let useremail = $("#userid").val()
            let password = $("#userpw").val()

            if (useremail == "") {
                $("#help-id-login").text("")
                $("#userid").focus()
                alert ("이메일을 입력해주세요.")
                return;
            } else {
                $("#help-id-login").text("")
            }

            if (password == "") {
                $("#help-password-login").text("")
                $("#userpw").focus()
                alert("비밀번호를 입력해주세요.")
                return;
            } else {
                $("#help-password-login").text("")
            }
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {
                    id_give: useremail,
                    pw_give: password
                },
                success: function (response) {
                    console.log(response)
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token'], {path: '/'});
                        window.location.replace("/")
                    } else {
                        alert(response['msg'])
                    }
                }
            });}


        function register() {
            window.location.href = "/register"
        }
        $(function(){
             $("#login").on('click',function(){
                 login();
        });
             $('.input').keyup(function (e){
                 if (e.keyCode == 13) {
                     login();
                 }
             });
        });




    </script>

</head>
<body>

<div class="section has-text-centered">
    <h1 class="title">good4y</h1>
    <h2 style="font-weight:bold">로그인 페이지</h2>
    <div class="box" style="width:50%; margin: auto; margin-top: 100px;">
        <div class="field">
            <label class="label" style="text-align: left " for="userid">ID</label>
            <div class="control">
                <input class="input" type="text" id="userid" placeholder="e.g. alex@example.com">
            </div>
        </div>
        <div class="field">
            <label class="label" style="text-align: left " for="userpw">Password</label>
            <div class="control">
                <input class="input" type="password" id="userpw"  placeholder="********" />
            </div>
        </div>
        <button class="button is-primary" onclick="login()">로그인</button>

        <button class="button is-primary" onclick="register()">회원가입</button>
    </div>
</div>

</body>

</html>
