{% extends "index.html" %}
{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
{#    <script defer src="../static/js/login.js"></script>#}
    <script>
    {% if msg %}
        alert("{{ msg }}")
    {% endif %}


    // 쿠키는 페이지에 관계없이 브라우저에 임시로 저장되는 정보입니다. 키:밸류 형태(딕셔너리 형태)로 저장됩니다.
    // 쿠키가 있기 때문에, 한번 로그인하면 다시 로그인할 필요가 없는 것입니다.
    // 브라우저를 닫으면 자동 삭제되게 하거나, 일정 시간이 지나면 삭제되게 할 수 있습니다.

    {#로그인 클라이언트#}
    function login() {
        let useremail = $("#userid").val()
        let password = $("#userpw").val()

        if (useremail == "") {
            $("#help-id-login").text("")
            $("#userid").focus()
            alert("이메일을 입력해주세요.")
            return;
        } else {
            $("#help-id-login").text("")
        }

        if (password == "") {
            $("#help-password-login").text("")
            $("#userpw").focus()
            alert("비밀번호를 입력해주세요.")
            return;
        } else {
            $("#help-password-login").text("")
        }
        {#값들을 모두 입력했는지 확인하고 로그인 POST 요청을 보냄#}
        {# 성공하면 리스트페이지로 이동#}
        $.ajax({
            type: "POST",
            url: "/api/login",
            data: {
                id_give: useremail,
                pw_give: password
            },
            success: function (response) {
                if (response['result'] == 'success') {
                    $.cookie('mytoken', response['token'], {path: '/'});
                    window.location.href = "/"
                } else {
                    alert(response['msg'])
                }
            }
        });
    }


    function register() {
        window.location.href = "/register"
    }
    {#아이디, 비밀번호 input 값에서 엔터키를 누르면 로그인 버튼을 클릭하는 동작과 동일하게 구현#}
    $(function () {
        $('.input').keyup(function (e) {
            if (e.keyCode == 13) {
                login();
            }
        });
    });
</script>

    <style>
        .logout-btn {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<div class="has-text-centered">
    <div class="box" style="width:50%; margin: auto; margin-top: 100px;">
        <div class="field">
            <label class="label" style="text-align: left " for="userid">ID</label>
            <div class="control">
                <input class="input" type="text" id="userid" placeholder="e.g. alex@example.com">
            </div>
        </div>
        <div class="field">
            <label class="label" style="text-align: left " for="userpw">Password</label>
            <div class="control">
                <input class="input" type="password" id="userpw" placeholder="********"/>
            </div>
        </div>
        <button class="button is-primary" onclick="login()">로그인</button>

        <button class="button is-primary" onclick="register()">회원가입</button>
    </div>
</div>
{% endblock %}
