{% if msg %}
    <script>
        alert("{{ msg }}")
        window.location.href = '/'
    </script>
{% endif %}

{% extends "index.html" %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/write.css">
<script defer src="../static/js/write.js"></script>
<script>

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="wrap">
    <div class="date">
        <div class="check-box">
            <form method="get" action="javascript:doSave(document.frm);">
                <label><input type="checkbox" name="day" value="monday"> 월</label>
                <label><input type="checkbox" name="day" value="tuesday"> 화</label>
                <label><input type="checkbox" name="day" value="wednesday"> 수</label>
                <label><input type="checkbox" name="day" value="thursday"> 목</label>
                <label><input type="checkbox" name="day" value="friday"> 금</label>
                <label><input type="checkbox" name="day" value="saturday"> 토</label>
                <label><input type="checkbox" name="day" value="sunday"> 일</label>
                <label><input type="checkbox" name="day" value="everyweek"> 매주</label>
            </form>
        </div>

        <div class="input-group mb-3 input-option">
            <h6 class="time">시간을 선택하세요</h6>
            <br>
            <div>
                <select id="schedule-time1" name=hourOpt size=1>
                    <option value="00">00
                    <option value="01">01
                    <option value="02">02
                    <option value="03">03
                    <option value="04">04
                    <option value="05">05
                    <option value="06">06
                    <option value="07">07
                    <option value="08">08
                    <option value="09">09
                    <option value="10">10
                    <option value="11">11
                    <option selected value="12">12
                    <option value="13">13
                    <option value="14">14
                    <option value="15">15
                    <option value="16">16
                    <option value="17">17
                    <option value="18">18
                    <option value="19">19
                    <option value="20">20
                    <option value="21">21
                    <option value="22">22
                    <option value="23">23
                    </option>
                </select>
                <select id="schedule-time2" name=minOpt size=1>
                    <option selected value="00">00
                    <option value="01">01
                    <option value="02">02
                    <option value="03">03
                    <option value="04">04
                    <option value="05">05
                    <option value="06">06
                    <option value="07">07
                    <option value="08">08
                    <option value="09">09
                    <option value="10">10
                    <option value="11">11
                    <option value="12">12
                    <option value="13">13
                    <option value="14">14
                    <option value="15">15
                    <option value="16">16
                    <option value="17">17
                    <option value="18">18
                    <option value="19">19
                    <option value="20">20
                    <option value="21">21
                    <option value="22">22
                    <option value="23">23
                    <option value="24">24
                    <option value="25">25
                    <option value="26">26
                    <option value="27">27
                    <option value="28">28
                    <option value="29">29
                    <option value="30">30
                    <option value="31">31
                    <option value="32">32
                    <option value="33">33
                    <option value="34">34
                    <option value="35">35
                    <option value="36">36
                    <option value="37">37
                    <option value="38">38
                    <option value="39">39
                    <option value="40">40
                    <option value="41">41
                    <option value="42">42
                    <option value="43">43
                    <option value="44">44
                    <option value="45">45
                    <option value="46">46
                    <option value="47">47
                    <option value="48">48
                    <option value="49">49
                    <option value="50">50
                    <option value="51">51
                    <option value="52">52
                    <option value="53">53
                    <option value="54">54
                    <option value="55">55
                    <option value="56">56
                    <option value="57">57
                    <option value="58">58
                    <option value="59">59
                    </option>
                </select>
            </div>
        </div>

        <div class="input-group mb-3 input-option">
            <div class="input-group-prepend">
                <label class="input-group-text" for="schedule-option">스케줄</label>
            </div>
            <select class="custom-select" id="schedule-option">
                <!--                <option selected>-&#45;&#45;어떤 스케쥴을 추가할까요?-&#45;&#45;</option>-->
                <option value="today-schedule">오늘 일정</option>
                <!--            <option value="2">Two</option>-->
                <!--            <option value="3">Three</option>-->
            </select>
        </div>
    </div>

    <div class="content">
        <div class="box">
            <label class="label">제목</label>
            <input id="schedule-title" class="input is-normal" type="text" value="" placeholder="제목을 입력하세요">
            <label class="label">내용</label>
            <textarea id="schedule-content" class="textarea" placeholder="내용을 입력하세요" rows="10"></textarea>
        </div>
    </div>
    <div class="btn-register">
        <button class="button is-primary" onclick="location.href='/' ">뒤로가기</button>
        <button class="button is-primary" onclick="schedule()">등록하기</button>

    </div>

</div>
{% endblock %}

